In [98]:
import pandas as pd
data =[{'learner_name':'sudharsan','course':'data science','batch': 'D101','institute':'guvi','topic':'mongodb_practice'}]
df = pd.DataFrame(data)
df

  learner_name        course batch institute             topic
0    sudharsan  data science  D101      guvi  mongodb_practice

In [1]:
#)1. importing mongodb module
import pymongo

In [2]:
#)2. creating connection between jupyter notebook to mongodb
connection = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
#)3. table(collection) creation in mongodb database
db = connection['D101']
collection = db['education']

In [19]:
#) 4. inserting one doc
data = {
    'student_name':'Juniper',
    'course':'DE',
    'year':2023,
    'marks':87.5,
    'student_address': 'trichy',
    'gender': 'F'
}
db.col.insert_one(data)

InsertOneResult(ObjectId('65f7461da2b16a388c188484'), acknowledged=True)

In [36]:
#) 5. to show the inserted doc in database
for doc in db.col.find():
    print(doc)

{'_id': ObjectId('65f7461da2b16a388c188484'), 'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}

In [37]:
#) 6. inserting many data
data = [
    {'student_name':'Devin','course':'DS','year':2020,'marks':63,'student_address': 'vellore','gender': 'M'},
    {'student_name':'Brooke','course':'ML','year':2021,'marks':69,'student_address': 'nellai','gender': 'F'},
]
db.col.insert_many(data)

InsertManyResult([ObjectId('65f7488ba2b16a388c188485'), ObjectId('65f7488ba2b16a388c188486')], acknowledged=True)

In [38]:
#) 5. to show the inserted doc in database
for doc in db.col.find():
    print(doc)

{'_id': ObjectId('65f7461da2b16a388c188484'), 'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'_id': ObjectId('65f7488ba2b16a388c188485'), 'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'_id': ObjectId('65f7488ba2b16a388c188486'), 'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}

In [39]:
#) 7. inserting one doc with giving our own id name
data = {'_id' :1,'student_name':'Asher','course':'DE','year':2022,'marks':93,'student_address': 'bangalore','gender': 'F'}
db.col.insert_one(data)

InsertOneResult(1, acknowledged=True)

In [40]:
#) 5. to show the inserted doc in database
for doc in db.col.find():
    print(doc)

{'_id': ObjectId('65f7461da2b16a388c188484'), 'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'_id': ObjectId('65f7488ba2b16a388c188485'), 'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'_id': ObjectId('65f7488ba2b16a388c188486'), 'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'_id': 1, 'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}

In [42]:
#) creating student_record_data and conerting into dataframe
import pandas as pd
df_record = pd.DataFrame()
df_record['student_name'] = [
    'Wyatt','Estelle','Heath','Imogene','Archer','Penelope','Henry','Violet','Theodore','Verity'
]
df_record['course']= [
    'AI','ML','DS','DE','DE','ML','ML','DS','AI','ML'
]
df_record['session'] = [
    'FN','AN','AN','AN','FN','FN','AN','FN','AN','FN'
]
df_record['year'] = [
    2024,2023,2022,2024,2023,2022,2024,2023,2022,2023
]
df_record['marks'] = [
    94.9,76.5,83.2,72.4,90.1,71.2,87.6,67.9,95.8,81.2
]
df_record['student_address'] = [
    'salem','chennai','erode','coimbatore','coimbatore','salem','erode','ooty','ooty','chennai'
]
df_record['gender'] = [
    'M','F','M','F','M','F','M','F','M','F'
]
df_record

  student_name course session  year  marks student_address gender
0        Wyatt     AI      FN  2024   94.9           salem      M
1      Estelle     ML      AN  2023   76.5         chennai      F
2        Heath     DS      AN  2022   83.2           erode      M
3      Imogene     DE      AN  2024   72.4      coimbatore      F
4       Archer     DE      FN  2023   90.1      coimbatore      M
5     Penelope     ML      FN  2022   71.2           salem      F
6        Henry     ML      AN  2024   87.6           erode      M
7       Violet     DS      FN  2023   67.9            ooty      F
8     Theodore     AI      AN  2022   95.8            ooty      M
9       Verity     ML      FN  2023   81.2         chennai      F

In [43]:
#) 8. inserting data from df to mongodb
my_data = []

for index in df_record.index:
    row = df_record.loc[index]
    row = row.to_dict()
    my_data.append(row)

db.col.insert_many(my_data)

InsertManyResult([ObjectId('65f749caa2b16a388c188487'), ObjectId('65f749caa2b16a388c188488'), ObjectId('65f749caa2b16a388c188489'), ObjectId('65f749caa2b16a388c18848a'), ObjectId('65f749caa2b16a388c18848b'), ObjectId('65f749caa2b16a388c18848c'), ObjectId('65f749caa2b16a388c18848d'), ObjectId('65f749caa2b16a388c18848e'), ObjectId('65f749caa2b16a388c18848f'), ObjectId('65f749caa2b16a388c188490')], acknowledged=True)

In [4]:
#) 5. to show the inserted doc in database
for doc in db.col.find():
    print(doc)

{'_id': ObjectId('65f7461da2b16a388c188484'), 'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'_id': ObjectId('65f7488ba2b16a388c188485'), 'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'_id': ObjectId('65f7488ba2b16a388c188486'), 'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'_id': 1, 'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'_id': ObjectId('65f749caa2b16a388c188487'), 'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'_id': ObjectId('65f749caa2b16a388c188488'), 'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'_id': ObjectId('65f749caa2b16a388c188489'), 'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'_id': ObjectId('65f749caa2b16a388c18848a'), 'student_name': 'Imogene', 'course': 'DE', 'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'_id': ObjectId('65f749caa2b16a388c18848b'), 'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'_id': ObjectId('65f749caa2b16a388c18848c'), 'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'_id': ObjectId('65f749caa2b16a388c18848d'), 'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'_id': ObjectId('65f749caa2b16a388c18848e'), 'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'_id': ObjectId('65f749caa2b16a388c18848f'), 'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}
{'_id': ObjectId('65f749caa2b16a388c188490'), 'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [46]:
#)10. not displaying id columns
for doc in db.col.find({},{'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Imogene', 'course': 'DE', 'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [48]:
#) 11. removing two column data
for doc in db.col.find({},{'_id':0,'student_name':0}):
    print(doc)

{'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'course': 'DE', 'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}
{'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [50]:
#) 11. removing three column data
for doc in db.col.find({},{'_id':0,'student_name':0,'course':0}):
    print(doc)

{'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}
{'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [52]:
#) 13. displaying only 2 columns data
for doc in db.col.find({},{'_id':0,'marks':1,'student_address':1}):
    print(doc)

{'marks': 87.5, 'student_address': 'trichy'}
{'marks': 63, 'student_address': 'vellore'}
{'marks': 69, 'student_address': 'nellai'}
{'marks': 93, 'student_address': 'bangalore'}
{'marks': 94.9, 'student_address': 'salem'}
{'marks': 76.5, 'student_address': 'chennai'}
{'marks': 83.2, 'student_address': 'erode'}
{'marks': 72.4, 'student_address': 'coimbatore'}
{'marks': 90.1, 'student_address': 'coimbatore'}
{'marks': 71.2, 'student_address': 'salem'}
{'marks': 87.6, 'student_address': 'erode'}
{'marks': 67.9, 'student_address': 'ooty'}
{'marks': 95.8, 'student_address': 'ooty'}
{'marks': 81.2, 'student_address': 'chennai'}

In [53]:
#) 14.displaying particular row and particular coloumn data
for doc in db.col.find({'session': 'FN','year': 2024},{'student_name':1,'session':1,'year':1,'_id':0}):
    print(doc)

{'student_name': 'Wyatt', 'session': 'FN', 'year': 2024}

In [54]:
#) 14.displaying particular row and particular coloumn data
for doc in db.col.find({'student_address':'ooty'},{'student_name':1,'student_address':'ooty','_id':0}):
    print(doc)

{'student_name': 'Violet', 'student_address': 'ooty'}
{'student_name': 'Theodore', 'student_address': 'ooty'}

In [6]:
#) 14.displaying particular row and particular coloumn data
for doc in db.col.find({'marks': 63,'student_address': 'vellore'},{'student_name':1,'marks': 1,'student_address': 1,'_id':0}):
    print(doc)

{'student_name': 'Devin', 'marks': 63, 'student_address': 'vellore'}

In [7]:
#) 14.displaying particular row and particular coloumn data
for doc in db.col.find({'session': 'AN','year': 2022},{'student_name':1,'session': 1,'year':1,'_id':0}):
    print(doc)

{'student_name': 'Heath', 'session': 'AN', 'year': 2022}
{'student_name': 'Theodore', 'session': 'AN', 'year': 2022}

In [11]:
#) 14.displaying particular row and particular coloumn data
for doc in db.col.find({'gender': 'F'},{'student_name':1,'course': 1,'year':1,'gender': 1,'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'gender': 'F'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'gender': 'F'}
{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'gender': 'F'}
{'student_name': 'Estelle', 'course': 'ML', 'year': 2023, 'gender': 'F'}
{'student_name': 'Imogene', 'course': 'DE', 'year': 2024, 'gender': 'F'}
{'student_name': 'Penelope', 'course': 'ML', 'year': 2022, 'gender': 'F'}
{'student_name': 'Violet', 'course': 'DS', 'year': 2023, 'gender': 'F'}
{'student_name': 'Verity', 'course': 'ML', 'year': 2023, 'gender': 'F'}

In [10]:
#) 14.displaying particular row and particular coloumn data
for doc in db.col.find({'gender': 'M'},{'student_name':1,'gender': 1,'student_address':1,'_id':0}):
    print(doc)

{'student_name': 'Devin', 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Wyatt', 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Heath', 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Archer', 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Henry', 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Theodore', 'student_address': 'ooty', 'gender': 'M'}

In [13]:
#) 15.displaying particular 2 column data using $and
condition = {'$and':[{'session': 'FN'},{'year': 2023}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [14]:
#) 15.displaying particular 2 column data using $and
condition = {'$and':[{'student_address': 'erode'},{'gender': 'M'}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}

In [15]:
#) 15.displaying particular 2 column data using $and
condition = {'$and':[{'year': 2024},{'student_address': 'erode'}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}

In [17]:
#) 16. displaying two particular data from one column using $or
condition = {'$or':[{'course': 'DS'},{'course': 'ML'}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [18]:
#) 16. displaying two particular data from one column using $or
condition = {'$or':[{'year': 2020},{'year': 2021}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}

In [19]:
#) 16. displaying two particular data from one column using $or
condition = {'$or':[{'student_address': 'chennai'},{'student_address': 'ooty'}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [28]:
#) 18. displaying particular data using $gte(greater than or equal to)
condition = {'marks':{'$gte':90.1}}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}

In [30]:
#) 18. displaying particular data using $gte(greater than or equal to)
condition = {'marks':{'$gte':90.1}}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}

In [34]:
#) 18. displaying particular data using $gte(greater than or equal to)
condition = {'year':{'$gte':2021},'student_address': 'ooty'}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}

In [37]:
#) 19. displaying particular data using $gt(greater than)
condition = {'marks':{'$gt':67.9},'gender': 'M'}
for doc in db.col.find(condition,{'_id':0,}):
    print(doc)

{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}

In [40]:
#) 19. displaying particular data using $gt(greater than)
condition = {'marks':{'$gt':67.9}}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Imogene', 'course': 'DE', 'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [42]:
#) 19. displaying particular data using $gt(greater than)
condition = {'marks':{'$gt':67.9},'course': 'AI'}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}

In [44]:
#) 20. displaying particular data using $lte(less than or equal to)
condition = {'marks':{'$lte':72.4},'gender': 'M'}
for doc in db.col.find(condition,{'_id':0,'session':0}):
    print(doc)

{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}

In [47]:
#) 20. displaying particular data using $lte(less than or equal to)
condition = {'year':{'$lte': 2022},'gender': 'F'}
for doc in db.col.find(condition,{'_id':0,'student_name':1}):
    print(doc)

{'student_name': 'Brooke'}
{'student_name': 'Asher'}
{'student_name': 'Penelope'}

In [50]:
#) 20. displaying particular data using $lte(less than or equal to)
condition = {'year':{'$lte': 2023},'session': 'AN'}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Theodore', 'course': 'AI', 'session': 'AN', 'year': 2022, 'marks': 95.8, 'student_address': 'ooty', 'gender': 'M'}

In [52]:
#) 21. displaying particular data using $ne(not equal to)
condition = {'session':{'$ne':'AN'}}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [53]:
#) 21. displaying particular data using $ne(not equal to)
condition = {'session':{'$ne':'AN'},'year': 2022}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}

In [55]:
#) 21. displaying particular data using $ne(not equal to)
condition = {'course':{'$ne':'AI'},'year': 2022}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Heath', 'course': 'DS', 'session': 'AN', 'year': 2022, 'marks': 83.2, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}

In [58]:
#) 22. displaying particular data using two conditions $or,$ne(not equal to)
condition = {'$or':[{'year':{'$ne':2022}},{'gender': 'F'}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'student_name': 'Asher', 'course': 'DE', 'year': 2022, 'marks': 93, 'student_address': 'bangalore', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Imogene', 'course': 'DE', 'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'year': 2022, 'marks': 71.2, 'student_address': 'salem', 'gender': 'F'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [61]:
#) 22. displaying particular data using two conditions $or,$ne(not equal to)
condition = {'$or':[{'year':{'$ne':2022}},{'marks': 76.5}]}
for doc in db.col.find(condition,{'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE', 'year': 2023, 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F'}
{'student_name': 'Devin', 'course': 'DS', 'year': 2020, 'marks': 63, 'student_address': 'vellore', 'gender': 'M'}
{'student_name': 'Brooke', 'course': 'ML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F'}
{'student_name': 'Wyatt', 'course': 'AI', 'session': 'FN', 'year': 2024, 'marks': 94.9, 'student_address': 'salem', 'gender': 'M'}
{'student_name': 'Estelle', 'course': 'ML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F'}
{'student_name': 'Imogene', 'course': 'DE', 'session': 'AN', 'year': 2024, 'marks': 72.4, 'student_address': 'coimbatore', 'gender': 'F'}
{'student_name': 'Archer', 'course': 'DE', 'session': 'FN', 'year': 2023, 'marks': 90.1, 'student_address': 'coimbatore', 'gender': 'M'}
{'student_name': 'Henry', 'course': 'ML', 'session': 'AN', 'year': 2024, 'marks': 87.6, 'student_address': 'erode', 'gender': 'M'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F'}
{'student_name': 'Verity', 'course': 'ML', 'session': 'FN', 'year': 2023, 'marks': 81.2, 'student_address': 'chennai', 'gender': 'F'}

In [64]:
#) 23. replacing one row data with new value in one column
old = {'course': 'ML'}
new = {'$set':{'course':'AIML'}}

db.col.update_one(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1,'course': 1}):
    print(doc)

{'student_name': 'Juniper', 'course': 'DE'}
{'student_name': 'Devin', 'course': 'DS'}
{'student_name': 'Brooke', 'course': 'AIML'}
{'student_name': 'Asher', 'course': 'DE'}
{'student_name': 'Wyatt', 'course': 'AI'}
{'student_name': 'Estelle', 'course': 'AIML'}
{'student_name': 'Heath', 'course': 'DS'}
{'student_name': 'Imogene', 'course': 'DE'}
{'student_name': 'Archer', 'course': 'DE'}
{'student_name': 'Penelope', 'course': 'ML'}
{'student_name': 'Henry', 'course': 'ML'}
{'student_name': 'Violet', 'course': 'DS'}
{'student_name': 'Theodore', 'course': 'AI'}
{'student_name': 'Verity', 'course': 'ML'}

In [65]:
#) 23. replacing one row data with new value in one column
old = {'year': 2020}
new = {'$set':{'year': 2018}}

db.col.update_one(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1,'year': 1}):
    print(doc)

{'student_name': 'Juniper', 'year': 2023}
{'student_name': 'Devin', 'year': 2018}
{'student_name': 'Brooke', 'year': 2021}
{'student_name': 'Asher', 'year': 2022}
{'student_name': 'Wyatt', 'year': 2024}
{'student_name': 'Estelle', 'year': 2023}
{'student_name': 'Heath', 'year': 2022}
{'student_name': 'Imogene', 'year': 2024}
{'student_name': 'Archer', 'year': 2023}
{'student_name': 'Penelope', 'year': 2022}
{'student_name': 'Henry', 'year': 2024}
{'student_name': 'Violet', 'year': 2023}
{'student_name': 'Theodore', 'year': 2022}
{'student_name': 'Verity', 'year': 2023}

In [67]:
#) 23. replacing one row data with new value in one column
old = {'student_address':'coimbatore'}
new = {'$set':{'student_address': 'delhi'}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1,'student_address':1}):
    print(doc)

{'student_name': 'Juniper', 'student_address': 'trichy'}
{'student_name': 'Devin', 'student_address': 'vellore'}
{'student_name': 'Brooke', 'student_address': 'nellai'}
{'student_name': 'Asher', 'student_address': 'bangalore'}
{'student_name': 'Wyatt', 'student_address': 'salem'}
{'student_name': 'Estelle', 'student_address': 'chennai'}
{'student_name': 'Heath', 'student_address': 'erode'}
{'student_name': 'Imogene', 'student_address': 'delhi'}
{'student_name': 'Archer', 'student_address': 'delhi'}
{'student_name': 'Penelope', 'student_address': 'salem'}
{'student_name': 'Henry', 'student_address': 'erode'}
{'student_name': 'Violet', 'student_address': 'ooty'}
{'student_name': 'Theodore', 'student_address': 'ooty'}
{'student_name': 'Verity', 'student_address': 'chennai'}

In [68]:
#) 23. replacing one row data with new value in one column
old = {'course': 'DE'}
new = {'$set':{'course': 'python'}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1,'course':1}):
    print(doc)

{'student_name': 'Juniper', 'course': 'python'}
{'student_name': 'Devin', 'course': 'DS'}
{'student_name': 'Brooke', 'course': 'AIML'}
{'student_name': 'Asher', 'course': 'python'}
{'student_name': 'Wyatt', 'course': 'AI'}
{'student_name': 'Estelle', 'course': 'AIML'}
{'student_name': 'Heath', 'course': 'DS'}
{'student_name': 'Imogene', 'course': 'python'}
{'student_name': 'Archer', 'course': 'python'}
{'student_name': 'Penelope', 'course': 'ML'}
{'student_name': 'Henry', 'course': 'ML'}
{'student_name': 'Violet', 'course': 'DS'}
{'student_name': 'Theodore', 'course': 'AI'}
{'student_name': 'Verity', 'course': 'ML'}

In [72]:
#) 25. not displaying particular row data from two columns
old = {'course': 'python'}
new = {'$unset':{ 'year': 2023}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1,'course':1,'year':1}):
    print(doc)

{'student_name': 'Juniper', 'course': 'python'}
{'student_name': 'Devin', 'course': 'DS', 'year': 2018}
{'student_name': 'Brooke', 'course': 'AIML', 'year': 2021}
{'student_name': 'Asher', 'course': 'python'}
{'student_name': 'Wyatt', 'course': 'AI', 'year': 2024}
{'student_name': 'Estelle', 'course': 'AIML', 'year': 2023}
{'student_name': 'Heath', 'course': 'DS', 'year': 2022}
{'student_name': 'Imogene', 'course': 'python'}
{'student_name': 'Archer', 'course': 'python'}
{'student_name': 'Penelope', 'course': 'ML', 'year': 2022}
{'student_name': 'Henry', 'course': 'ML', 'year': 2024}
{'student_name': 'Violet', 'course': 'DS', 'year': 2023}
{'student_name': 'Theodore', 'course': 'AI', 'year': 2022}
{'student_name': 'Verity', 'course': 'ML', 'year': 2023}

In [74]:
#) 25. not displaying particular row data from two columns
old = {'student_address': 'salem'}
new = {'$unset':{ 'year': 2023}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1,'year':1,'student_address': 1}):
    print(doc)

{'student_name': 'Juniper', 'student_address': 'trichy'}
{'student_name': 'Devin', 'year': 2018, 'student_address': 'vellore'}
{'student_name': 'Brooke', 'year': 2021, 'student_address': 'nellai'}
{'student_name': 'Asher', 'student_address': 'bangalore'}
{'student_name': 'Wyatt', 'student_address': 'salem'}
{'student_name': 'Estelle', 'year': 2023, 'student_address': 'chennai'}
{'student_name': 'Heath', 'year': 2022, 'student_address': 'erode'}
{'student_name': 'Imogene', 'student_address': 'delhi'}
{'student_name': 'Archer', 'student_address': 'delhi'}
{'student_name': 'Penelope', 'student_address': 'salem'}
{'student_name': 'Henry', 'year': 2024, 'student_address': 'erode'}
{'student_name': 'Violet', 'year': 2023, 'student_address': 'ooty'}
{'student_name': 'Theodore', 'year': 2022, 'student_address': 'ooty'}
{'student_name': 'Verity', 'year': 2023, 'student_address': 'chennai'}

In [78]:
#) 26. adding new column for particular row data
old = {'gender': 'F'}
new = {'$set':{ 'WFH': "yes"}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1, 'gender':1,'WFH':1}):
    print(doc)

{'student_name': 'Juniper', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Devin', 'gender': 'M'}
{'student_name': 'Brooke', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Asher', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Wyatt', 'gender': 'M'}
{'student_name': 'Estelle', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Heath', 'gender': 'M'}
{'student_name': 'Imogene', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Archer', 'gender': 'M'}
{'student_name': 'Penelope', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Henry', 'gender': 'M'}
{'student_name': 'Violet', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Theodore', 'gender': 'M'}
{'student_name': 'Verity', 'gender': 'F', 'WFH': 'yes'}

In [79]:
#) 26. adding new column for particular row data
old = {'year': 2024}
new = {'$set':{ 'duration_months': 10}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1, 'year': 2024,'duration_months': 10}):
    print(doc)

{'student_name': 'Juniper'}
{'student_name': 'Devin', 'year': 2018}
{'student_name': 'Brooke', 'year': 2021}
{'student_name': 'Asher'}
{'student_name': 'Wyatt'}
{'student_name': 'Estelle', 'year': 2023}
{'student_name': 'Heath', 'year': 2022}
{'student_name': 'Imogene'}
{'student_name': 'Archer'}
{'student_name': 'Penelope'}
{'student_name': 'Henry', 'year': 2024, 'duration_months': 10}
{'student_name': 'Violet', 'year': 2023}
{'student_name': 'Theodore', 'year': 2022}
{'student_name': 'Verity', 'year': 2023}

In [80]:
#) 26. adding new column for particular row data
old = {'student_name': 'Juniper'}
new = {'$set':{ 'gender_type': 'child'}}

db.col.update_many(old,new)
for doc in db.col.find({},{'_id':0,'student_name':1, 'gender_type': 1}):
    print(doc)

{'student_name': 'Juniper', 'gender_type': 'child'}
{'student_name': 'Devin'}
{'student_name': 'Brooke'}
{'student_name': 'Asher'}
{'student_name': 'Wyatt'}
{'student_name': 'Estelle'}
{'student_name': 'Heath'}
{'student_name': 'Imogene'}
{'student_name': 'Archer'}
{'student_name': 'Penelope'}
{'student_name': 'Henry'}
{'student_name': 'Violet'}
{'student_name': 'Theodore'}
{'student_name': 'Verity'}

In [83]:
#) 27. deleting one doc
condition ={'student_name': 'Verity'}
db.col.delete_one(condition)

for doc in db.col.find({},{'_id':0,'student_name':1}):
    print(doc)

{'student_name': 'Juniper'}
{'student_name': 'Devin'}
{'student_name': 'Brooke'}
{'student_name': 'Asher'}
{'student_name': 'Wyatt'}
{'student_name': 'Estelle'}
{'student_name': 'Heath'}
{'student_name': 'Imogene'}
{'student_name': 'Archer'}
{'student_name': 'Penelope'}
{'student_name': 'Henry'}
{'student_name': 'Violet'}
{'student_name': 'Theodore'}

In [85]:
#) 27. deleting one doc
condition ={'gender':'M'}
db.col.delete_many(condition)

for doc in db.col.find({},{'_id':0}):
    print(doc)

{'student_name': 'Juniper', 'course': 'python', 'marks': 87.5, 'student_address': 'trichy', 'gender': 'F', 'WFH': 'yes', 'gender_type': 'child'}
{'student_name': 'Brooke', 'course': 'AIML', 'year': 2021, 'marks': 69, 'student_address': 'nellai', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Asher', 'course': 'python', 'marks': 93, 'student_address': 'bangalore', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Estelle', 'course': 'AIML', 'session': 'AN', 'year': 2023, 'marks': 76.5, 'student_address': 'chennai', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Imogene', 'course': 'python', 'session': 'AN', 'marks': 72.4, 'student_address': 'delhi', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Penelope', 'course': 'ML', 'session': 'FN', 'marks': 71.2, 'student_address': 'salem', 'gender': 'F', 'WFH': 'yes'}
{'student_name': 'Violet', 'course': 'DS', 'session': 'FN', 'year': 2023, 'marks': 67.9, 'student_address': 'ooty', 'gender': 'F', 'WFH': 'yes'}